replicaCount: 1

image:
  repository: redis
  tag: "7-alpine"

resources:
  limits:
    memory: "256Mi"
    cpu: "200m"
  requests:
    memory: "128Mi"
    cpu: "100m"

environment: dev
syncWave: "0"
